<article class="block span-12" data-block-id="{{block_id}}" data-type="flow">
  <h2>{{title}}</h2>
  <div class="flow" aria-label="Flow diagram">
    <span class="node">{{step_1}}</span><span class="edge">-&gt;</span>
    <span class="node">{{step_2}}</span><span class="edge">-&gt;</span>
    <span class="node">{{step_3}}</span>
  </div>
  <details><summary>Artifact data block</summary><pre><code>{"id":"{{block_id}}","type":"flow","data":{"nodes":[],"edges":[]}}</code></pre></details>
</article>
